body{
    background-color: whitesmoke;
}
.menu{
    border-style: solid;
    border-radius: 25px;
    height: 700px;
    width: 400px;
    background-color: cornflowerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    border-style: none;
    background-color:lightcyan;
}
.kullanici{
    border-style: solid;
    border-radius: 25px;
    width: 300px;
    height: 40px;
    margin-top: 50px;
}
.sifre{
    border-style: solid;
    border-radius: 25px;
    width: 300px;
    height: 40px;
    margin-top: 10px;
}
.giris{
    border-style: solid;
    border-radius: 25px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
}
